@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Permanent+Marker');

/*--- BASE ---*/

*	{
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body	{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	line-height: 1.5;
	font-size: .895em;
	font-family: verdana;
	background: rgba(158,221,223, .7);
}

h1	{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.8rem;
	font-family: 'Permanent Marker', cursive;
	color: #444;
	font-weight: 600;
	padding: 15px;
	margin: 0 auto 20px auto;
	letter-spacing: 1px;
	color: #454545;
	background: #fff;
}

span,
h2	{
	text-transform: capitalize;
}

h2	{
	font-size: 2em;
	font-family: 'Nanum Brush Script', cursive;
	color: #333;
	margin: 5px 0;
}

a	{
	color: #aa6111;
	text-decoration: none;
	transition: all .4s;
}

a:hover,
a:focus,
a:active	{
	color: #5cf;
}

p	{
	margin: 0 auto;
	padding: 5px 0;
}

p span	{
	font-weight: 600;
	font-size: 1.6em;
	font-family: 'Nanum Brush Script', cursive;
	letter-spacing: 2px;
}


/*MAIN*/

main	{
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background: ;
}

.employees	{
	position: relative;
	font-size: 14px;
	padding: 0;
	margin: auto;
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.employee	{
	flex: 1 20%;
	padding: 10px;
	margin: 15px 10px;
	width: 100%;
	max-width: 400px;
	background: #fff;
	border: 1px solid #acc;
	border-radius: 8px;
	display: flex;
	align-items: center;
	color: #ccc;
	transition: all .4s;
}

.employee:hover,
.employee:focus,
.employee:active	{
	transform: scale(1.05);
	cursor: pointer;
	border: 1px solid #000;
}

.employee div	{
	width: 100%;
	margin: 0 auto;
}

.employee div:nth-child(1)	{
	margin: 0 auto;
}

.employee div:nth-child(2)	{
	margin-left: auto;
	text-align: center;
}

img	{
	width: 100%;
	min-width: 85px;
	max-width: 140px;
	border-radius: 50%;
	margin: 0 auto;
	padding: 5px;
	display: block;
}


/*MODAL WINDOW*/

#modal	{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0, .65);
	z-index: 1;
	transition: all .3s;
}

.info	{
	background: #fff;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	max-width: 380px;
	border-radius: 8px;
}

#modalContent	{
	position: relative;
	top: 3%;
	font-size: 1em;
	background-image: url('../img/pattern.jpg');
	background-size: cover;
	margin: 10px auto;
	padding: 25px;
	width: 95%;
	max-width: 580px;
	height: auto;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0, .2);
	text-align: center;
	border-radius: 6px;
	border: 1px solid #000;
	transition: all .3s;
}

.modal-info	{
	display: none;
	text-align: left;
	background: #000;
	color: #fff;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
	transition: all .3s;
}

.address	{
	background-color: rgb(0,51,102);
	padding: 10px;
	margin: 5px;
}

.street,
.country	{
	text-transform: capitalize;
}

.address h3	{
	text-align: center;
	font-size: 2em;
	font-family: 'Nanum Brush Script', cursive;
	margin: 5px;
}

.city	{
	text-transform: capitalize;
}


/*CLOSE BUTTON*/

.close	{
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	color: #bff;
	font-size: 30px;
	border: 2px solid #000;
	border-radius: 50%;
	background: #fff;
	width: 49px;
	transition: all .4s;
}

.close:hover,
.close:focus	{
	color: #000;
	text-decoration: none;
	cursor: pointer;
	background: #000;
	color: #fff;
}