/*--- BASE ---*/

*	{
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body	{
	margin: 0 auto;
	padding: 0;
	width: 90%;
	line-height: 1.5;
	font-size: .895em;
	font-family: verdana;
	background: #eee;
}

h1	{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2rem;
	color: #444;
	font-weight: 600;
	padding: 10px 15px;
	letter-spacing: 1px;
	color: #454545;
	background: #fff;
}

span,
h2	{
	text-transform: capitalize;
}

h2	{
	font-size: 1.2em;
	color: #333;
}

a[href^="tel"]	{
	color: #5a6111;
	text-decoration: none;
	transition: all .4s;
}

a[href^="tel"]:hover,
a[href^="tel"]:focus,
a[href^="tel"]:active	{
	text-decoration: underline;
	color: #1cf;
}

p span	{
	font-weight: 600;
}

.employees	{
	position: relative;
	font-size: 12px;
	padding: 0;
	margin: 15px auto;
	width: 100%;
	max-width: 1300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.employee	{
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	display: flex;
	align-items: center;
	color: #ccc;
	transition: all .4s;
}

.employee:hover,
.employee:focus,
.employee:active	{
	transform: scale(1.1);
}

.employee div	{
	width: 100%;
	margin: 0 auto;
}

.employee div:nth-child(1)	{
	margin: 0 auto;
}

.employee div:nth-child(2)	{
	margin-left: auto;
	text-align: center;
}

img	{
	width: 100%;
	min-width: 80px;
	max-width: 150px;
	border-radius: 50%;
	margin: 0 auto;
	padding: 5px;
	display: block;
}


/*MODAL WINDOW*/

/*.info	{
	display: none;
}

.modal-info	{
	display: none;
}*/

.divider	{
	margin: 10px 0;
}



@media (min-width: 680px)	{
	
	.employee	{
		flex: 1;
		max-width: 300px;
	}
}